.App {
}

:root {
  --sizeBoard: 60vh;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #d1d1d1;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.dark-square {
  background-color: grey;
}

.light-square {
  background-color: white;
}

#player-turn-box {
  width: calc(var(--sizeBoard) / 16);
  height: calc(var(--sizeBoard) / 16);
  border: 1px solid #000;
}
